body {
	font-family: 'Tsukimi Rounded', sans-serif;
	text-align: center;
}

h1 {
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	height: 100vh;
	margin: 0;
}

.btn {
	border: 2px solid black;
	border-radius: 10px;
	background-color: transparent;
	height: 3rem;
	width: 12rem;
	font-family: 'Tsukimi Rounded', sans-serif;
	font-size: 120%;
}
